*
!Users
!Users/
!Users/*
!Users/*/*
!Users/*/*/*
!Users/*/*/*/*
!Users/*/*/*/*/*
!Users/*/*/*/*/*/*
!Users/*/*/*/*/*/*/*
!Users/*/*/*/*/*/*/*/*

!Modvel
!Modvel/
!Modvel/*
!Modvel/*/*
!Modvel/*/*/*
!Modvel/*/*/*/*
!Modvel/*/*/*/*/*
!Modvel/*/*/*/*/*/*
!Modvel/*/*/*/*/*/*/*
!Modvel/*/*/*/*/*/*/*/*


!Logs
!Logs/
!Logs/*
!Logs/*/*
!Logs/*/*/*
!Logs/*/*/*/*
!Logs/*/*/*/*/*
!Logs/*/*/*/*/*/*
!Logs/*/*/*/*/*/*/*
!Logs/*/*/*/*/*/*/*/*

!Pages
!Pages/
!Pages/*
!Pages/*/*
!Pages/*/*/*
!Pages/*/*/*/*
!Pages/*/*/*/*/*
!Pages/*/*/*/*/*/*
!Pages/*/*/*/*/*/*/*
!Pages/*/*/*/*/*/*/*/*


!Dashboard
!Dashboard/
!Dashboard/*
!Dashboard/*/*
!Dashboard/*/*/*
!Dashboard/*/*/*/*
!Dashboard/*/*/*/*/*
!Dashboard/*/*/*/*/*/*
!Dashboard/*/*/*/*/*/*/*
!Dashboard/*/*/*/*/*/*/*/*

!.gitignore
